//________________________Onest___________________________________________
@font-face {
  font-family: 'Onest';
  src: url('../assets/fonts/onest/Onest-Black.woff2');
  src:
          url('../assets/fonts/onest/Onest-Black.woff2') format('woff2'),
          url('../assets/fonts/onest/Onest-Black.woff') format('woff'),
          url('../assets/fonts/onest/Onest-Black.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Onest';
  src: url('../assets/fonts/Onest/Onest-ExtraBold.woff2');
  src:
          url('../assets/fonts/Onest/Onest-ExtraBold.woff2') format('woff2'),
          url('../assets/fonts/Onest/Onest-ExtraBold.woff') format('woff'),
          url('../assets/fonts/Onest/Onest-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Onest';
  src: url('../assets/fonts/Onest/Onest-Bold.woff2');
  src:
          url('../assets/fonts/Onest/Onest-Bold.woff2') format('woff2'),
          url('../assets/fonts/Onest/Onest-Bold.woff') format('woff'),
          url('../assets/fonts/Onest/Onest-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Onest';
  src: url('../assets/fonts/Onest/Onest-SemiBold.woff2');
  src:
          url('../assets/fonts/Onest/Onest-SemiBold.woff2') format('woff2'),
          url('../assets/fonts/Onest/Onest-SemiBold.woff') format('woff'),
          url('../assets/fonts/Onest/Onest-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Onest';
  src: url('../assets/fonts/Onest/Onest-Medium.woff2');
  src:
          url('../assets/fonts/Onest/Onest-Medium.woff2') format('woff2'),
          url('../assets/fonts/Onest/Onest-Medium.woff') format('woff'),
          url('../assets/fonts/Onest/Onest-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Onest';
  src: url('../assets/fonts/Onest/Onest-Regular.woff2');
  src:
          url('../assets/fonts/Onest/Onest-Regular.woff2') format('woff2'),
          url('../assets/fonts/Onest/Onest-Regular.woff') format('woff'),
          url('../assets/fonts/Onest/Onest-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Onest';
  src: url('../assets/fonts/Onest/Onest-Light.woff2');
  src:
          url('../assets/fonts/Onest/Onest-Light.woff2') format('woff2'),
          url('../assets/fonts/Onest/Onest-Light.woff') format('woff'),
          url('../assets/fonts/Onest/Onest-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Onest';
  src: url('../assets/fonts/Onest/Onest-ExtraLight.woff2');
  src:
          url('../assets/fonts/Onest/Onest-ExtraLight.woff2') format('woff2'),
          url('../assets/fonts/Onest/Onest-ExtraLight.woff') format('woff'),
          url('../assets/fonts/Onest/Onest-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Onest';
  src: url('../assets/fonts/Onest/Onest-Thin.woff2');
  src:
          url('../assets/fonts/Onest/Onest-Thin.woff2') format('woff2'),
          url('../assets/fonts/Onest/Onest-Thin.woff') format('woff'),
          url('../assets/fonts/Onest/Onest-Thin.ttf') format('truetype');
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}

