@use './mixins' as *;

.footer {
  background-color: var(--dark);
  color: var(--white);
  font-size: 1rem;
  &__inner {
    width: var(--container-width);
    padding: 0 1rem;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:8.75rem;
  }
  &__copyright {
    font-weight: 400;
  }
  &__nav {
    &-list {
      display: flex;
      gap: 2.5rem;
      font-weight: 700;
    }
    &-item:hover {
      color:  var(--primary)
    }
  }
  &__socials {
    &-list {
      display: flex;
      gap: 1.25rem
    }
    &-item {
      width: 3.125rem;
      height: 3.125rem;
      border-radius: 0.625rem;
      background-color:  rgba(255, 255, 255, 0.05);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-item:hover {
      background-color:  var(--primary)
    }
    &-item img{
      max-height: 100%;
      max-width: 100%;
    }
  }
}



@include breakpoint(md) {
  .footer {
    font-size: 1.4rem;
    &__inner {
      flex-direction: column;
      gap: 2rem;
      padding: 2rem;
      height: unset;
    }
    &__copyright {
      order: 3;
    }
    &__nav {
      &-list {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        row-gap: 1.5rem;
        column-gap: 3rem;
      }
    }
    &__socials {
      &-list {
        gap: 1.75rem
      }
      &-item {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 1rem;
      }
    }
  }
}
