@mixin stylized-scrollbar {
  &::-webkit-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    height: 20%;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-track {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
  }
}

@mixin breakpoint($point) {
  @if $point == sm {
    @media only screen and (max-width: 720px) {
      @content;
    }
  } @else if $point == md {
    @media only screen and (max-width: 768px) {
      @content;
    }
  } @else if $point == xl {
    @media only screen and (max-width: 1200px) {
      @content;
    }
  } @else if $point == xxl {
    @media only screen and (max-width: 1441px) {
      @content;
    }
  } @else {
    @media only screen and (max-width: $point) {
      @content;
    }
  }
}
