footer.footer
    section.footer__inner
        div.footer__copyright © Госуслуги, 2024
        nav.footer__nav
            ul.footer__nav-list
                li.footer__nav-item
                    a(href="/pages/services.html") Услуги
                li.footer__nav-item
                    a(href="/pages/about.html") О проекте
                li.footer__nav-item
                    a(href="/pages/articles.html") Справочная
                li.footer__nav-item
                    a(href="/pages/contacts.html") Контакты
                li.footer__nav-item
                    a(href="/pages/contacts.html") Партнерство
        div.footer__socials
            div.footer__socials-list
                a.footer__socials-item(href="#")
                    picture
                        img(src='/assets/images/footer-social-wa.png', alt='watsapp')
                a.footer__socials-item(href="#")
                    picture
                        img(src='/assets/images/footer-social-tg.png', alt='telegram')
                a.footer__socials-item(href="#")
                    picture
                        img(src='/assets/images/footer-social-vk.png', alt='vk')
                a.footer__socials-item(href="#")
                    picture
                        img(src='/assets/images/footer-social-yt.png', alt='youtube')