header.header
    section.header-up
        div.header-up__inner
            div.header-up__logo
                img(src='/assets/images/logo.png', alt='Госуслуги.ae')
            div.header-up__contacts
                div.header-up__contacts-items
                    div.header-up__contacts-item
                        svg.header-up__contacts-item-icon(width='14', height='14', viewBox='0 0 14 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                            use(href="/assets/svg/sprite.svg#location")
                        div.header-up__contacts-item-text Dubai, United Arab Emirates, Оffice 303, Control Tower
                    div.header-up__contacts-item
                        svg.header-up__contacts-item-icon(width='13', height='14', viewBox='0 0 13 14', fill='none', xmlns='http://www.w3.org/2000/svg')
                            use(href="/assets/svg/sprite.svg#book")
                        div.header-up__contacts-item-text
                            a.header-up__contacts-item-link(href="+971521730911") +971 52 1730911
                            a.header-up__contacts-item-link(href="mailto:info@gosuslugi.ae") info@gosuslugi.ae
                div.header-up__contacts-buttons
                    a.header-up__contacts-button(href='#', target='_blank')
                        svg(width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                            use(href="/assets/svg/sprite.svg#social-watsapp")
                        span Написать в WhatsApp
    section.header-down
        div.header-down__inner
            nav.header-down__nav
                ul.header-down__nav-list
                    li.header-down__nav-item.header-down__nav-item_has-children
                        a(href="/pages/services.html") Услуги
                        div.header-down__nav-dropdown
                            div.header-down__nav-dropdown-wrapper
                                ul
                                    li.header-down__nav-sub-item.header-down__nav-sub-item_has-children
                                        a(href="/pages/services_section.html")
                                            picture
                                                img(src="/assets/images/visa.png")
                                            span Визы и резиденство
                                        div.header-down__nav-dropdown
                                            div.header-down__nav-dropdown-wrapper
                                                ul
                                                    li.header-down__nav-sub-item
                                                        a(href="/pages/service.html") Виза удаленщика
                                                    li.header-down__nav-sub-item
                                                        a(href="/pages/service.html") Виза инвестора
                                    li.header-down__nav-sub-item.header-down__nav-sub-item_has-children
                                        a(href="/pages/services_section.html")
                                            picture
                                                img(src="/assets/images/bank.png")
                                            span Банковские услуги
                                        div.header-down__nav-dropdown
                                            div.header-down__nav-dropdown-wrapper
                                                ul
                                                    li.header-down__nav-sub-item
                                                        a(href="/pages/service.html") Виза удаленщика
                                                    li.header-down__nav-sub-item
                                                        a(href="/pages/service.html") Виза инвестора
                                    li.header-down__nav-sub-item
                                        a(href="/pages/services_section.html")
                                            picture
                                                img(src="/assets/images/cooperation.png")
                                            span Открытие бизнеса
                                    li.header-down__nav-sub-item
                                        a(href="/pages/services_section.html")
                                            picture
                                                img(src="/assets/images/law.png")
                                            span Судебные вопросы
                                    li.header-down__nav-sub-item.header-down__nav-sub-item_has-children
                                        a(href="/pages/services_section.html")
                                            picture
                                                img(src="/assets/images/operacii.png")
                                            span Операции с недвижимостью
                                        div.header-down__nav-dropdown
                                            div.header-down__nav-dropdown-wrapper
                                                ul
                                                    li.header-down__nav-sub-item
                                                        a(href="/pages/service.html") Виза удаленщика
                                                    li.header-down__nav-sub-item
                                                        a(href="/pages/service.html") Виза инвестора
                    li.header-down__nav-item
                        a(href="/pages/about.html") О проекте
                    li.header-down__nav-item
                        a(href="/pages/articles.html") Справочная
                    li.header-down__nav-item
                        a(href="/pages/contacts.html") Контакты
                    li.header-down__nav-item
                        a(href="/pages/contacts.html") Партнерство
            div.header-down__search
                form.header-down__search-form
                    input.header-down__search-form-input(placeholder="Что вы ищете?")
                    buttont.header-down__search-form-submit(type="submit") Искать