div.hero.hero_bg(style="background-image: url('/assets/images/home-bg.png');")
    div.hero__inner
        div.hero__content
            h1.hero__title Консалт-сервис в ОАЭ,
                <br/> который 
                span.yellow-text не связан с властями
            div.hero__text Современный консалт-сервис для решения <br/>ежедневных задач быстро и удобно  
            button.btn.btn_yellow Оставить заявку